# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Data Science Tools
- Commonly used libraries in Data Science
- Evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Scala

 |Data Science Tools|
 |:----------------:|
 |Jupyter Notebook  |
 |Visual Studio Code| 
 |Anaconda          |

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. ggplot
4. matplotlib

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60.
minutes=200
hours=minutes/60
print("Hours=",round(hours,2))

Hours= 3.33

## Author 
Konstantinos Delis

In [1]:
import pandas as pd

In [4]:
url='https://nvidianews.nvidia.com/news/nvidia-announces-financial-results-for-third-quarter-fiscal-2025'
df= pd.read_html(url)
df[0]

,0,1,2,3,4,5,6,7,8,9,10,11
0,GAAP,GAAP,GAAP,GAAP,GAAP,GAAP,GAAP,GAAP,GAAP,GAAP,GAAP,GAAP
1,"($ in millions, except earnings per share)",Q3 FY25,Q3 FY25,Q3 FY25,Q2 FY25,Q2 FY25,Q2 FY25,Q3 FY24,Q3 FY24,Q3 FY24,Q/Q,Y/Y
2,Revenue,$,35082,NaN,$,30040,NaN,$,18120,NaN,Up 17%,Up 94%
3,Gross margin,NaN,74.6,%,NaN,75.1,%,NaN,74.0,%,Down 0.5 pts,Up 0.6 pts
4,Operating expenses,$,4287,NaN,$,3932,NaN,$,2983,NaN,Up 9%,Up 44%
5,Operating income,$,21869,NaN,$,18642,NaN,$,10417,NaN,Up 17%,Up 110%
6,Net income,$,19309,NaN,$,16599,NaN,$,9243,NaN,Up 16%,Up 109%
7,Diluted earnings per share*,$,0.78,NaN,$,0.67,NaN,$,0.37,NaN,Up 16%,Up 111%